  * {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

  html {
    width: 700px;
    background-color: rgb(45, 79, 45);
    height: 680px;    
    margin: 10px;  
    width: 1870px;   
}

  body {
    background-color: rgb(45, 79, 45);
    margin: 0.1rem;  
    align-items: center;
    height: 768px;
}

.background {
  background-color: aqua;
  height: 00px;
}

  .img-box-container {
    padding-left: 28rem;
    padding-top: 1rem;
}

  .img-box {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin-left: 1rem;
    
}

  .img-box2 {
    width: 300x;
    height: 300px;
    object-fit: cover;
    padding-left:28rem;
}

  .menu, .tartalom2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 700px;
    padding-left: 30rem;
}

  .menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    font-size: 1.1rem;  
    width: 400px;
}

  .menu-items a {
    text-decoration: none;
    color: white;
    display: block;
    cursor: default;
  }

  .menu-items a:hover {
    color: rgb(0, 0, 0); 
    transition: color 0.3s;
  }

  .fejlec {    
    align-items: center;
    width: 300px;
}

  .fejleclogo {
    font-size: 2rem;
    text-align: center;
    width: 15rem;
    color: white
}

  .buttons-container {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 10px; 
    width: 200px;
    
}
    
  .buttons-container button:first-child {
    background-color: white; 
    color: black;
       
  }

  button {
    background-color: black;
    color: white;
    border-radius: 20px 20px 20px 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    text-decoration: none;    
    font-size: 1rem;
    width: 120px;
    cursor: pointer;
    
  }

  .tartalom {
    font-size: 1rem;
    text-align: center;
    color: white
}

  .tartalom2 {
    padding: 1rem;
    
}

  .tartalom3 {
    padding-left: 3rem;
    padding-right: 10rem;
    padding-top: 3rem;
    width: 400px;
    height: 300px;
    font-size: 1.1rem;
    vertical-align: sub;   
    color: white 
  }

  

  header { 
    padding-left: 5rem;
}

  .menu {
    padding-left: 24rem;
}

  p {
    font-size: 1.1rem;
    font-style: italic;
  }


  